{% extends "layout.html" %}
{% block title %}Show iCALs{% endblock %}
{% block content %}
<h1>Showing the iCals</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>DTSTART</td>
            <td>DTEND</td>
            <td>SUMMARY</td>
            <td>DURATION</td>
        </tr>        
    </thead>
    <tbody>
        {% for row in ical_rows:  %}
        <tr>
            <td>{{row.0[:10]}}</td>
            <td>{{row.1[:10]}}</td>
            <td>{{row.2}}</td>
            <td>{{row.3}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
   
